<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Calculadora de Média</title>
</head>
<body>
    <h2>Calculadora de Média</h2>
    <form action="/calcular" method="post">
        <label>Nota 1:</label>
        <input type="number" name="nota1" step="0.01" required>
        <br>
        <label>Nota 2:</label>
        <input type="number" name="nota2" step="0.01" required>
        <br>
        <button type="submit">Calcular</button>
    </form>
    {% if media is not none %}
        <h3>Média: {{ media }}</h3>
        <h3>{{mensagem}}</h3>
    {% endif %}
</body>
</html>
